{% extends 'core/home.html'%}

{% block content %}

<form class="form-horizontal" method="post" action="{% url 'core:registration' %}">
    {% csrf_token %}
    {{ register_form.as_p }}

    <div class="form-group">
        <div class="main-checkbox">
            <input value="None" id="checkbox1" name="check" type="checkbox">
            <label for="checkbox1"></label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Регистрация</button>
    </div>
    
</form>
{% endblock content %}
